<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="СomputerMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <СomputerMaster.Properties.Settings>
            <setting name="MoneyCount" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Work" serializeAs="String">
                <value>Безработный</value>
            </setting>
            <setting name="Computer" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="Memory" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="HardDrive" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="Modem" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="CDROM" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="SoundBlaster" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="System" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="AntiVirus" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="Programming" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="BBS" serializeAs="String">
                <value>Нет</value>
            </setting>
            <setting name="Mood" serializeAs="String">
                <value>Нормальное</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>Чайник</value>
            </setting>
            <setting name="MoneyWorking" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MoodCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Point" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Soft" serializeAs="String">
                <value>0</value>
            </setting>
        </СomputerMaster.Properties.Settings>
    </userSettings>
</configuration>